body {
    line-height: 1.6;
    color: #fff;
    background-color: #490875;
    margin: 0;
    padding: 0;
}

.header {
    background: linear-gradient(to left, #302b63, #0f0c29, #302b63);
    padding: 5px;
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

.main-content {
    flex-wrap: wrap;
    padding: 20px;
}

.section {
    flex: 1 1 48%;
    margin-bottom: 20px;
}

.section-title {
    background: linear-gradient(to right, #0f0c29, #302b63);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    font-style: italic;
}

.section-text {
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #fff;
    border: 3px solid rgb(100, 121, 180);
}

.img-container {
    position: relative;
    width: 100%;
    height: auto;
}

.img-container img {
    max-width: 100%;
    height: auto;
    
}
.section-image {
    display: flex;
    width: auto;
    height: 400px;
    display: block;
    margin: 0 auto;
}
footer {
    background: linear-gradient(to left, #302b63, #0f0c29, #302b63);
    padding: 12px;
    text-align: left;
    padding-left: 30px;
}