body {
    background: #490875;
}
h1 {
    background: linear-gradient(to right, #302b63,  #0f0c29, #302b63);
    font-size: 70px;
    text-align: center;
    font-style: italic;
    color: white;
    background-color: rgb(74, 60, 148);
    margin-top: auto;
    margin-left: -10%;
    margin-right: -10%;
}
.Info {
    background: linear-gradient(to right, #0f0c29, #302b63);
    font-style: italic;
    font-size: 30px;
    background-color: rgb(74, 60, 148);
    color: white;
    padding: 10px;
    padding-left: 20px;
}
.Info2 {
    font-size: 20px;
    border: 2px solid rgba(82, 125, 150, 0.541);
    padding: 1%;
    color: white;
}
.historie {
    background: linear-gradient(to right, #0f0c29, #302b63);
    font-style: italic;
    font-size: 30px;
    background-color: rgb(74, 60, 148);
    color: white;
    padding: 10px;
    padding-left: 20px;
}
.historie2{
    font-size: 20px;
    border: 2px solid rgba(82, 125, 150, 0.541);
    padding: 1%;
    color: white;

}
main {
    padding-left: 40px;
    padding-right: 700px;
}
.Okolí {
    background: linear-gradient(to right, #0f0c29, #302b63);
    font-style: italic;
    font-size: 30px;
    background-color: rgb(74, 60, 148);
    color: white;
    padding: 10px;
    padding-left: 20px;
}
.Okolí2 {
    font-size: 20px;
    border: 2px solid rgba(82, 125, 150, 0.541);
    padding: 1%;
    color: white;
}



















